//-- Colors
$color-grey:                      #818181;
$color-pink-swan:                 #b7b7b7;
$color-safety-orange:             #ff6b00;
$color-white-smoke:               #f5f5f5;
$color-nero:                      #1b1b1b;
$color-white:                     #ffffff;
$color-black:                     #000000;

//-- Typography
$ff--inter:                       "Inter", sans-serif;

//-- html font-size
$font-size-html:                  16px;

//-- Animations
$trans-300:                       0.3s ease-in;
